
<div class="login-footer">
    <div style="text-align:center; color:#f30909">
        &copy; 2022-@DateTime.Now.Year <a href="#" target="_blank" style="color:white"></a> All Rights Reserved.<br>
        <a href="" target="_blank" rel="nofollow"></a><br>
    </div>
</div>