@{
    Layout = "~/Views/Shared/_Index.cshtml";
}



<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>NHF PENDING REGISTRATION(S) APPROVAL </h5>
                </div>
                <div class="ibox-content">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#employee" aria-expanded="true"> Pending Employee Registration(s)</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#employer" aria-expanded="false">Pending Employer Registration(s)</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="employee" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="container-div">
                                        <div class="row">
                                            <div id="searchEmployeeDiv" class="col-sm-12 search-collapse">
                                                <div class="select-list">
                                                    <ul>
                                                        <li>
                                                            Name: <input id="name" col="Name" type="text" />
                                                        </li>

                                                        <li class="select-time">
                                                            <label>Created: </label>
                                                            <input id="employeeStartTime" col="StartTime" type="text" class="time-input" placeholder="start time" />
                                                            <span>-</span>
                                                            <input id="employeeEndTime" col="EndTime" type="text" class="time-input" placeholder="end time" />
                                                        </li>
                                                        <li>
                                                            <a id="btnEmployeeSearch" class="btn btn-primary btn-sm" onclick="searchEmployeeGrid()"><i class="fa fa-search"></i>&nbsp;Search</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="btn-group-sm" id="employee">
                                                <a id="btnAdd" class="btn btn-success" onclick="showSaveForm(true)" style="background-color: #2e2d67; border-color: #2e2d67"> Approve Employee</a>
                                                <a id="btnEdit" class="btn btn-primary disabled" onclick="showSaveForm(false)" style="background-color: #e43f3f; border-color: #e43f3f;"> Disapprove Employee</a>
                                                @*  <a id="btnEdit" class="btn btn-primary disabled" onclick="showSaveForm(false)"><i class="fa fa-edit"></i> Edit</a>
                                                <a id="btnDelete" class="btn btn-danger disabled" onclick="deleteForm()"><i class="fa fa-remove"></i> Delete</a>*@
                                            </div>
                                            <div class="col-sm-12">
                                                <table id="gridEmployeeTable" data-mobile-responsive="true"></table>
                                              </div>    
                                               
                                            <div class="form-row">
                                            <div class="form-container">
                                            <div  id="myForm">
                                                <form id="myForm">
                                                    <h4 style="text-align:center;">NHF Registration for  </h4>
                                                    <div class="form-group" >
                                                        <div class="col-sm-6">
                                                            <label for="effectiveDate" class="form-label">Effective Date</label>
                                                            <input type="dateTime" id="effectiveDate" name="EffectiveDate" class="form-control" readonly />
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="email" class="form-label">Email Address</label>
                                                            <input type="email" id="email" name="Email" class="form-control" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="form-group"style="margin-top:8%">
                                                        <div class="col-sm-6">
                                                            <label for="phone" class="form-label">Phone No</label>
                                                            <input type="tel" id="phone" name="Phone" class="form-control" readonly />
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="remark" class="form-label">Remark</label>
                                                            <textarea type="text" id="remark" name="Remark" class="form-control" style="height:60px"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-top:16%">
                                                        <div class="col-sm-6">
                                                            <label for="maritalStatus" class="form-label">Marital Status</label>
                                                            <input type="number" id="maritalStatus" name="MaritalStatus" class="form-control" readonly />
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="gender" class="form-label">Gender</label>
                                                            <input type="number" id="gender" name="Gender" class="form-control" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-top:24%">
                                                        <div class="col-sm-6">
                                                            <label for="bvn" class="form-label">BVN</label>
                                                            <input type="tel" id="bvn" name="BVN" class="form-control" readonly />
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="nin" class="form-label">NIN</label>
                                                            <input type="tel" id="nin" name="NIN" class="form-control" readonly />
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-top:32%">
                                                        <div class="col-sm-6">
                                                            <label for="bankName" class="form-label">Bank Name</label>
                                                            <input type="email" id="bankName" name="BankName" class="form-control" readonly />
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="bankAccountNumber" class="form-label">Bank Account Number</label>
                                                            <input type="email" id="bankAccountNumber" name="BankAccountNumber" class="form-control" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-top:40%">
                                                        <div class="col-sm-6">
                                                            <label for="contributionLocation" class="form-label">Contribution Location</label>
                                                            <input type="email" id="contributionLocation" name="ContributionLocation" class="form-control" readonly />
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="registrationLocation" class="form-label">Registration Location</label>
                                                            <input type="email" id="registrationLocation" name="RegistrationLocation" class="form-control" readonly />
                                                        </div>
                                                    </div>


                                                </form>
                                            </div>
                                            </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="employer" class="tab-pane">
                                <div class="panel-body">
                                    <div class="container-div">
                                        <div class="row">
                                            <div id="searchEmployerDiv" class="col-sm-12 search-collapse">
                                                <div class="select-list">
                                                    <ul>
                                                        <li>
                                                            Name: <input id="name" col="Name" type="text" />
                                                        </li>

                                                        <li class="select-time">
                                                            <label>Created: </label>
                                                            <input id="employerStartTime" col="StartTime" type="text" class="time-input" placeholder="start time" />
                                                            <span>-</span>
                                                            <input id="employerEndTime" col="EndTime" type="text" class="time-input" placeholder="end time" />
                                                        </li>
                                                        <li>
                                                            <a id="btnEmployerSearch" class="btn btn-primary btn-sm" onclick="searchEmployerGrid()"><i class="fa fa-search"></i>&nbsp;Search</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="btn-group-sm" id="employer">
                                                <a id="btnAdd" class="btn btn-success" onclick="showSaveForm(true)" style="background-color: #2e2d67; border-color: #2e2d67"> Approve Employer</a>
                                                <a id="btnEdit" class="btn btn-primary disabled" onclick="showSaveForm(false)" style="background-color: #e43f3f; border-color: #e43f3f;"> Disapprove Employer</a>
                                                @*  <a id="btnEdit" class="btn btn-primary disabled" onclick="showSaveForm(false)"><i class="fa fa-edit"></i> Edit</a>
                                                <a id="btnDelete" class="btn btn-danger disabled" onclick="deleteForm()"><i class="fa fa-remove"></i> Delete</a>*@
                                            </div>
                                            @* <div class="col-sm-12 select-table table-striped">*@
                                            <div class="col-sm-12">
                                                <table id="gridEmployerTable" data-mobile-responsive="true"></table>
                                            </div>
                                            <div id="myEmployerForm">
                                                <form id="myEmployerForm">
                                                    <h4 style="text-align:center;">NHF Registration for </h4>
                                                    <div class="form-group">
                                                        <div class="col-sm-6">
                                                            <label for="email" class="form-label">Email</label>
                                                            <input type="email" id="emailEmployer" name="Email" class="form-control" readonly />
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="phone" class="form-label">Phone No</label>
                                                            <input type="tel" id="phoneEmployer" name="Phone" class="form-control" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-top:8%">
                                                        <div class="col-sm-6">
                                                            <label for="sector" class="form-label">Sector</label>
                                                            <input type="number" id="sector" name="Sector" class="form-control" readonly />
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="subSector" class="form-label">SubSector</label>
                                                            <input type="number" id="subSector" name="SubSector" class="form-control" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-top:16%">
                                                        <div class="col-sm-6">
                                                            <label for="address" class="form-label">Address</label>
                                                            <input type="email" id="address" name="Address" class="form-control" readonly />
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="address2" class="form-label">Address 2</label>
                                                            <input type="email" id="address2" name="Address2" class="form-control" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-top:24%">
                                                        <div class="col-sm-6">
                                                            <label for="contactPersonDesignation" class="form-label">Contact Person Designation</label>
                                                            <input type="number" id="contactPersonDesignation" name="ContactPersonDesignation" class="form-control" readonly />
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="contributionLocation" class="form-label">Contribution Location</label>
                                                            <input type="email" id="contributionLocation" name="ContributionLocation" class="form-control" readonly />
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-top:32%">
                                                        <div class="col-sm-6">
                                                            <label for="contributionFrequency" class="form-label">Contribution Frequency</label>
                                                            <input type="number" id="contributionFrequency" name="ContributionFrequency" class="form-control" readonly />
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="postalAddress" class="form-label">Postal Address</label>
                                                            <input type="email" id="postalAddress" name="PostalAddress" class="form-control" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-top:40%">
                                                        <div class="col-sm-6">
                                                            <label for="contributionLocation" class="form-label"></label>

                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="remark" class="form-label">Remark</label>
                                                            <textarea type="text" id="remark" name="Remark" class="form-control" style="height:60px"></textarea>
                                                        </div>
                                                    </div>


                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        initGrid();

        $("#pEmployeeStatus").cnComboBox({ data: cn.getJson(@Html.Raw(typeof(StatusEnum).EnumToDictionaryString())) });
        $("#pEmployerStatus").cnComboBox({ data: cn.getJson(@Html.Raw(typeof(StatusEnum).EnumToDictionaryString())) });

        laydate.render({ elem: '#employeeStartTime', format: 'yyyy-MM-dd', theme: 'molv' });
        laydate.render({ elem: '#employeeEndTime', format: 'yyyy-MM-dd', theme: 'molv' });

        laydate.render({ elem: '#employerStartTime', format: 'yyyy-MM-dd', theme: 'molv' });
        laydate.render({ elem: '#employerEndTime', format: 'yyyy-MM-dd', theme: 'molv' });
    });

    function initGrid() {
        var queryEmployeeUrl = '@Url.Content("~/NHFRegUsers/GetEmployeePageListJson")';
        var queryEmployerUrl = '@Url.Content("~/NHFRegUsers/GetEmployerPageListJson")';



        var formOpen = false; // flag to track if form is currently open
        
        $('#gridEmployeeTable').cnTable({
            url: queryEmployeeUrl,

            columns: [
                {
                    field: 'plus',
                    title: '',
                    formatter: function (value, row) {
                        var iconClass = formOpen ? 'fa fa-times' : 'fa fa-plus';
                        return '<button type="button" class="btn btn-sm btn-primary plus-button" data-row-id="' + row.Id + '"><i class="' + iconClass + '"></i></button>';
                    },
                    events: {
                        'click .plus-button': function (e, value, row, index) {
                            // toggle the form on/off
                            if (formOpen) {
                                $('#myForm').slideUp();
                                $(this).removeClass('btn-danger').addClass('btn-primary'); // Change button background to btn-primary
                            } else {
                                var form = $('#myForm');
                                form.find('input[name="EffectiveDate"]').val(row.EffectiveDate);
                                form.find('input[name="Email"]').val(row.Email);
                                form.find('input[name="Phone"]').val(row.Phone);
                                form.find('input[name="MaritalStatus"]').val(row.MaritalStatus);
                                form.find('input[name="Gender"]').val(row.Gender);
                                form.find('input[name="BVN"]').val(row.BVN);
                                form.find('input[name="NIN"]').val(row.NIN);
                                form.find('input[name="BankName"]').val(row.BankName);
                                form.find('input[name="BankAccountNumber"]').val(row.BankAccountNumber);
                                form.find('input[name="ContributionLocation"]').val(row.ContributionLocation);
                                form.find('input[name="RegistrationLocation"]').val(row.RegistrationLocation);
                                form.slideDown();
                                $(this).removeClass('btn-primary').addClass('btn-danger'); // Change button background to btn-danger
                            }
                            formOpen = !formOpen; // update flag

                            // update the plus button icon
                            var iconClass = formOpen ? 'fa fa-times' : 'fa fa-plus';
                            $(this).html('<i class="' + iconClass + '"></i>');
                        }

                    }
                },
                //{
                //    field: 'plus',
                //    title: '',
                //    formatter: function (value, row) {
                //        var iconClass = formOpen ? 'fa fa-times' : 'fa fa-plus';
                //        return '<button type="button" class="btn btn-sm btn-primary plus-button" data-row-id="' + row.Id + '"><i class="' + iconClass + '"></i></button>';
                //    },
                //    events: {
                //        'click .plus-button': function (e, value, row, index) {
                //            var $row = $(this).closest('tr');
                //            var $formRow = $row.next('.form-row');

                //            // toggle the form on/off
                //            if (formOpen) {
                //                $formRow.slideUp();
                //                $(this).removeClass('btn-danger').addClass('btn-primary');
                //            } else {
                //                var form = $('#myForm').clone();
                //                form.find('input[name="EffectiveDate"]').val(row.EffectiveDate);
                //                form.find('input[name="Email"]').val(row.Email);
                //                form.find('input[name="Phone"]').val(row.Phone);
                //                form.find('input[name="MaritalStatus"]').val(row.MaritalStatus);
                //                form.find('input[name="Gender"]').val(row.Gender);
                //                form.find('input[name="BVN"]').val(row.BVN);
                //                form.find('input[name="NIN"]').val(row.NIN);
                //                form.find('input[name="BankName"]').val(row.BankName);
                //                form.find('input[name="BankAccountNumber"]').val(row.BankAccountNumber);
                //                form.find('input[name="ContributionLocation"]').val(row.ContributionLocation);
                //                form.find('input[name="RegistrationLocation"]').val(row.RegistrationLocation);
                //                $formRow.html(form.html());
                //                $formRow.slideDown();
                //                $(this).removeClass('btn-primary').addClass('btn-danger');
                //            }
                //            formOpen = !formOpen;

                //            var iconClass = formOpen ? 'fa fa-times' : 'fa fa-plus';
                //            $(this).html('<i class="' + iconClass + '"></i>');
                //        }
                //    }
                //},

                

                //{ checkbox: true, visible: true },
                { field: 'Id', title: 'Id', visible: false },
                { field: 'EffectiveDate', title: 'Effective Date', sortable: true },
                { field: 'Phone', title: 'Phone', sortable: true },
                { field: 'NHFEmployerNumber', title: 'NHF Employer Number', sortable: true },
                { field: 'Name', title: 'Employee Name', sortable: true },
                { field: 'Email', title: 'Email Address', sortable: true },

                {
                    field: 'BaseModifyTime', title: 'Create Time', formatter: function (value, row, index) {
                        return cn.formatDate(value, "yyyy-MM-dd HH:mm:ss");
                    }
                }
            ],
            queryParams: function (params) {
                var pagination = $('#gridEmployeeTable').cnTable('getPagination', params);
                var queryString = $("#searchEmployeeDiv").getWebControls(pagination);
                return queryString;
            }
        });

        $('#myForm').hide();

        var formOpenEmployer = false; // flag to track if form is currently open
        $('#gridEmployerTable').cnTable({
            url: queryEmployerUrl,
            columns: [
                {
                    field: 'plus',
                    title: '',
                    formatter: function (value, row) {
                        var iconClass = formOpenEmployer ? 'fa fa-times' : 'fa fa-plus';
                        return '<button type="button" class="btn btn-sm btn-primary plus-button" data-row-id="' + row.Id + '"><i class="' + iconClass + '"></i></button>';
                    },
                    events: {
                        'click .plus-button': function (e, value, row, index) {
                            // toggle the form on/off
                            if (formOpenEmployer) {
                                $('#myEmployerForm').slideUp();
                                $(this).removeClass('btn-danger').addClass('btn-primary'); // Change button background to btn-primary
                            } else {
                                var form = $('#myEmployerForm');

                                form.find('input[name="Email"]').val(row.Email);
                                form.find('input[name="Phone"]').val(row.Phone);
                                form.find('input[name="Sector"]').val(row.Sector);
                                form.find('input[name="SubSector"]').val(row.SubSector);
                                form.find('input[name="Address"]').val(row.Address);
                                form.find('input[name="Address2"]').val(row.Address2);
                                form.find('input[name="ContactPersonDesignation"]').val(row.ContactPersonDesignation);
                                form.find('input[name="ContributionFrequency"]').val(row.ContributionFrequency);
                                form.find('input[name="ContributionLocation"]').val(row.ContributionLocation);
                                form.find('input[name="PostalAddress"]').val(row.PostalAddress);
                                form.slideDown();
                                $(this).removeClass('btn-primary').addClass('btn-danger'); // Change button background to btn-danger
                            }
                            formOpenEmployer = !formOpenEmployer; // update flag

                            // update the plus button icon
                            var iconClass = formOpenEmployer ? 'fa fa-times' : 'fa fa-plus';
                            $(this).html('<i class="' + iconClass + '"></i>');
                        }

                    }
                },


                //{ checkbox: true, visible: true },
                { field: 'Id', title: 'Id', visible: false },
                { field: 'NHFEmployerNumber', title: 'NHF Employer Number', sortable: true },
                { field: 'Name', title: 'Employee Name', sortable: true },
                { field: 'ContactPerson', title: 'Contact Person', sortable: true },
                { field: 'RCNumber', title: 'RC Number', sortable: true },

                {
                    field: 'BaseModifyTime', title: 'Create Time', formatter: function (value, row, index) {
                        return cn.formatDate(value, "yyyy-MM-dd HH:mm:ss");
                    }
                }
            ],
            queryParams: function (params) {
                var pagination = $('#gridEmployerTable').cnTable('getPagination', params);
                var queryString = $("#searchEmployerDiv").getWebControls(pagination);
                return queryString;
            }
        });

        $('#myEmployerForm').hide();

        $('#cancelEmployerButton').click(function () {
            $('#myEmployerForm').slideUp();
            formOpenEmployer = false;
            $('.plus-button').removeClass('btn-danger').addClass('btn-primary');
            $('.plus-button').html('<i class="fa fa-plus"></i>');
        });


    }

    function searchGrid() {
        $('#gridEmployeeTable').cnTable('search');
        resetToolbarStatus();
    }

    function searchGrid() {
        $('#gridEmployerTable').cnTable('search');
        resetToolbarStatus();
    }
</script>

