@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}


<div class="propertyRegistration" id="propertyRegistration">
        <form id="form1" class="form-horizontal m">
            <div class="dialogblockborder dialogblockborderheadline">
                <div class="dialogblock-header" style="height: auto;">
                    <span class="dialogblockheader">#PhoneNumber-Details</span>
                <div class="form-group">
                   
                    <div class="col-sm-4">
                        <label for="geoTagging" class="form-label" style="margin-left: 100px;">
                            Geo-Tagging
                            <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 24px; margin-left: 5px; vertical-align: middle; color: #000;"></i>
                        </label>
                        <div class="input-group">
                            <input type="text" class="form-control mr-2" style="width: 30%; margin-left: 100px;" placeholder="Longitude" readonly>
                            <span style="width: 0%;"></span>
                            <input type="text" class="form-control ml-2" style="width: 30%; margin-left: 100px;" placeholder="Latitude" readonly>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="developer control-label" style="margin-left: 200px;">Developer</label>
                        <input type="text" col="developer" style="margin-left: 200px;" class="form-control" id="developer" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="propertyDescription" style="margin-left: 100px;" class="form-label">Property&nbsp;Description</label>
                        <textarea type="text" style="margin-left: 100px; height: 150px;" class="form-control" id="propertyDescription" readonly></textarea>
                    </div>
                    <div class="col-sm-4">
                        <label for="viewPictures" style="margin-left: 200px;" class="form-label">View&nbsp;Pictures</label>
                        <textarea type="text" style="margin-left: 200px; height: 150px;" class="form-control" id="viewPictures" readonly></textarea>
                    </div>
                </div>
              

             
             
              
                </div>
            </div>
        
   </form>
</div>

  



