@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}


<div class="assessmentFactors" id="assessmentFactors">
        <form id="form1" class="form-horizontal m">
            <div class="dialogblockborder dialogblockborderheadline">
                <div class="dialogblock-header" style="height: auto;">
                    <span class="dialogblockheader">Assessment Factor</span>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="creditType control-label" style="margin-left: 100px;">Credit Type</label>
                        <input type="text" col="creditType" style="margin-left: 100px; width: 550px;" class="form-control" id="creditType">
                       @* <div id="messageType" col="MessageType" style="margin-left: 100px; width: 550px;"></div>*@
                    </div>
                
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="assessmentFactor" style="margin-left: 100px;" class="form-label">Assessment Factor</label>
                        <input type="text" style="margin-left: 100px; width: 550px;" col="assessmentFactor" class="form-control">
                         
                    </div>
                   
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="index" style="margin-left: 100px;" class="form-label">Index</label>
                        <input type="number" style="margin-left: 100px; width: 550px;" class="form-control" id="index">
                          
                    </div>
                  
                </div>     
                
                </div>
            </div>
        </form>
</div>



    



