@{
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>LOAN SCHEDULE</h5>
                </div>
                <div class="ibox-content">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#creditSchedule" aria-expanded="true"> CREDIT SCHEDULE</a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div id="creditSchedule" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="container-div">
                                        <div class="row">

                                            <div class="btn-group-sm" id="toolbar">
                                                <a id="btnAdd" class="btn btn-success" onclick="showSaveForm(true)"><i class="fa fa-eye"></i> View Schedule</a>
                                            </div>

                                            <div class="col-sm-12">
                                                <table id="gridTable" data-mobile-responsive="true"></table>
                                            </div>
                                        </div>
                                    </div>

                                    <script type="text/javascript">
                                        $(function () {
                                            initGrid();

                                            $("#status").cnComboBox({ data: cn.getJson(@Html.Raw(typeof(StatusEnum).EnumToDictionaryString())) });

                                            laydate.render({ elem: '#startTime', format: 'yyyy-MM-dd', theme: 'molv' });
                                            laydate.render({ elem: '#endTime', format: 'yyyy-MM-dd', theme: 'molv' });
                                        });

                                        function initGrid() {
                                            var queryUrl = '@Url.Content("~/LoanSchedule/GetLoanSchedulePageListJson")';
                                            $('#gridTable').cnTable({
                                                url: queryUrl,
                                                columns: [
                                                    { checkbox: true, visible: true },
                                                    { field: 'Id', title: 'Id', visible: false },
                                                    { field: 'CreditId', title: 'Credit ID', sortable: false },
                                                    { field: 'Customer', title: 'Customer', sortable: false },
                                                    { field: 'Product', title: 'Product', sortable: false },
                                                    { field: 'AccountNo', title: 'Account No', sortable: false },
                                                    { field: 'AmountGranted', title: 'Amount Granted', visible: true, sortable: false },

                                                ],
                                                queryParams: function (params) {
                                                    var pagination = $('#gridTable').cnTable('getPagination', params);
                                                    var queryString = $("#searchDiv").getWebControls(pagination);
                                                    return queryString;
                                                }
                                            });
                                        }

                                        function searchGrid() {
                                            $('#gridTable').cnTable('search');
                                            resetToolbarStatus();
                                        }

                                        function showSaveForm(bAdd) {
                                            var id = 0;
                                            if (!bAdd) {
                                                var selectedRow = $("#gridTable").bootstrapTable("getSelections");
                                                if (!cn.checkRowEdit(selectedRow)) {
                                                    return;
                                                }
                                                else {
                                                    id = selectedRow[0].Id;
                                                }
                                            }
                                            cn.openDialog({
                                                title: id > 0 ? "Edit Agent" : "Loan Schedule",
                                                content: '@Url.Content("~/LoanSchedule/LoanScheduleForm")' + '?id=' + id,
                                                width: "780px",
                                                callback: function (index, layero) {
                                                    var iframeWin = window[layero.find('iframe')[0]['name']];
                                                    iframeWin.saveForm(index);
                                                }
                                            });
                                        }

                                        function deleteForm() {
                                            var selectedRow = $("#gridTable").bootstrapTable("getSelections");
                                            if (cn.checkRowDelete(selectedRow)) {
                                                cn.confirm("Confirm to delete the selected" + selectedRow.length + "Row data?", function () {
                                                    var ids = cn.getIds(selectedRow);
                                                    cn.ajax({
                                                        url: '@Url.Content("~/LoanSchedule/DeleteFormJson")' + '?ids=' + ids,
                                                        type: "post",
                                                        success: function (obj) {
                                                            if (obj.Tag == 1) {
                                                                cn.msgSuccess(obj.Message);
                                                                searchGrid();
                                                            }
                                                            else {
                                                                cn.msgError(obj.Message);
                                                            }
                                                        }
                                                    });
                                                });
                                            }
                                        }
                                    </script>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
