@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}
<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="form-group">
            <label class="col-sm-3 control-label">Username</label>
            <div class="col-sm-8">
                <input id="userName" type="text" class="form-control" readonly="readonly" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Old password<font class="red"> *</font></label>
            <div class="col-sm-8">
                <input id="password" col="Password" type="password" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">New password<font class="red"> *</font></label>
            <div class="col-sm-8">
                <input id="newPassword" col="NewPassword" type="password" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">New password confirmation<font class="red"> *</font></label>
            <div class="col-sm-8">
                <input id="confirmPassword" col="ConfirmPassword" type="password" class="form-control" />
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var id = cn.request("id");

    $(function () {
        $("#userName").val("@ViewBag.OperatorInfo.UserName");
        $("#password").val("");

        $("#form").validate({
            rules: {
                password: {
                    required: true
                },
                newPassword: {
                    required: true,
                    minlength: 6,
                    maxlength: 20
                },
                confirmPassword: {
                    required: true,
                    equalTo: "#newPassword"
                }
            },
            messages: {
                password: {
                    required: "Please enter the original password"
                },
                newPassword: {
                    required: "Please enter a new password",
                    minlength: "Password cannot be less than 6 characters",
                    maxlength: "Password cannot be longer than 20 characters"
                },
                confirmPassword: {
                    required: "Please enter new password again",
                    equalTo: "Two times of password input are inconsistent"
                }
            }
        });
    });

    function saveForm(index) {
        if ($("#form").validate().form()) {
            var postData = $("#form").getWebControls({ Id: id });
            cn.ajax({
                url: '@Url.Content("~/User/ChangePasswordJson")',
                type: "post",
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        cn.msgSuccess(obj.Message);
                        parent.layer.close(index);
                    }
                    else {
                        cn.msgError(obj.Message);
                    }
                }
            });
        }
    }
</script>