@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}
<div class="wrapper animated fadeInRight">
    <form id="form1" class="form-horizontal m">
        <div class="form-group">
            <label class="col-sm-3 control-label">Email Address<font class="red"> *</font></label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input id="emailAddress" col="EmailAddress" type="email" class="form-control" placeholder=" Enter your Email Address" />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" id="generateToken" type="button">Generate Token</button>
                    </span>
                </div>
            </div>
        </div>

        <hr />

        <div class="form-group">
            <label class="col-sm-3 control-label">Token<font class="red"> *</font></label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input id="token" col="Token" type="text" class="form-control" placeholder=" Input Token" />
                    <span class="input-group-btn">
                        <button class="btn btn-success" id="resetPassword" type="button">Proceed</button>
                    </span>
                </div>
            </div>
        </div>

    </form>

    <form id="form2" class="form-horizontal m">
        <div class="form-group">
            <label class="col-sm-3 control-label">Username<font class="red"> *</font></label>
            <div class="col-sm-8">
                <input id="userName" col="UserName" type="text" class="form-control" placeholder=" Enter your username associated with the account" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">New password<font class="red"> *</font></label>
            <div class="col-sm-8">
                <div class="input-group ">
                    <input id="newPassword" col="NewPassword" type="password" class="form-control" placeholder=" Enter new password" />
                    <span class="input-group-addon" onclick="toggleNewPasswordVisibility()">
                        <i id="eyeIconNew" class="fa fa-eye"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">New password confirmation<font class="red"> *</font></label>
            <div class="col-sm-8">
                <div class="input-group ">
                    <input id="confirmPassword" col="ConfirmPassword" type="password" class="form-control" placeholder=" Re-Enter new password" />
                    <span class="input-group-addon" onclick="toggleConfirmPasswordVisibility()">
                        <i id="eyeIconConfirm" class="fa fa-eye"></i>
                    </span>
                </div>
            </div>
        </div>
        <!-- Buttons Section -->
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
                <button type="button" class="btn btn-primary" onclick="submitPassword()">Confirm</button>
                <button type="button" class="btn btn-danger" id="clearBtn">Clear</button>
                <button type="button" class="btn btn-default" id="cancelBtn">Cancel</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var id = cn.request("id");

    $(document).ready(function () {
        // Bind click event handler to cancel button
        $('#cancelBtn').click(function () {
            // Close the dialog
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        });
    });

    $(document).ready(function () {
        // Bind click event handler to clear button
        $('#clearBtn').click(function () {
            // Clear input fields
            $('#userName').val('');
            $('#newPassword').val('');
            $('#confirmPassword').val('');
        });
    });

    $(document).ready(function () {
        $('#form2').hide();
    });

    //function togglePasswordVisibility() {
    //    var passwordField = document.getElementById("password");
    //    var eyeIcon = document.getElementById("eyeIcon");

    //    if (passwordField.type === "password") {
    //        passwordField.type = "text";
    //        eyeIcon.className = "fa fa-eye-slash"; // Change the icon to an eye-slash when password is visible
    //        setTimeout(function () {
    //            passwordField.type = "password"; // After 2 seconds, hide the password again
    //            eyeIcon.className = "fa fa-eye";
    //        }, 500); // Change back to password type after 2 seconds
    //    } else {
    //        passwordField.type = "password";
    //        eyeIcon.className = "fa fa-eye";
    //    }
    //}

    function toggleNewPasswordVisibility() {
        var passwordField = document.getElementById("newPassword");
        var eyeIcon = document.getElementById("eyeIconNew");

        if (passwordField.type === "password") {
            passwordField.type = "text";
            eyeIcon.className = "fa fa-eye-slash"; // Change the icon to an eye-slash when password is visible
            setTimeout(function () {
                passwordField.type = "password"; // After 2 seconds, hide the password again
                eyeIcon.className = "fa fa-eye";
            }, 500); // Change back to password type after 2 seconds
        } else {
            passwordField.type = "password";
            eyeIcon.className = "fa fa-eye";
        }
    }

    function toggleConfirmPasswordVisibility() {
        var passwordField = document.getElementById("confirmPassword");
        var eyeIcon = document.getElementById("eyeIconConfirm");

        if (passwordField.type === "password") {
            passwordField.type = "text";
            eyeIcon.className = "fa fa-eye-slash"; // Change the icon to an eye-slash when password is visible
            setTimeout(function () {
                passwordField.type = "password"; // After 2 seconds, hide the password again
                eyeIcon.className = "fa fa-eye";
            }, 500); // Change back to password type after 2 seconds
        } else {
            passwordField.type = "password";
            eyeIcon.className = "fa fa-eye";
        }
    }


    $(document).ready(function () {
        // Disable the button initially
        $("#resetPassword").prop("disabled", true);

        // Bind input event to the token input field
        $("#token").on("input", function () {
            // Check if the input field is empty
            if ($(this).val().trim() !== "") {
                // Enable the button if there is some input
                $("#resetPassword").prop("disabled", false);
            } else {
                // Disable the button if the input field is empty
                $("#resetPassword").prop("disabled", true);
            }
        });
    });


    $(document).ready(function () {
        // Bind click event to the "Generate Token" button
        $("#generateToken").on("click", function () {
            // Log a message to verify that the button click event is triggered
            console.log("Generate Token button clicked");

            // Perform form validation (if applicable)
            if ($("#form1").validate().form()) {
                // Log a message to verify that validation passes
                console.log("Form validation successful");

                // Retrieve the email address
                var emailAddress = $("#emailAddress").val();

                // Send AJAX request with the email address as a query parameter
                $.ajax({
                    url: '@Url.Content("~/ResetPasswordToken/GenerateTokenJson")' + '?emailAddress=' + emailAddress,
                    type: "post",
                    success: function (obj) {
                        // Handle AJAX success response
                        if (obj.Tag == 1) {
                            $("#emailAddress").html(emailAddress);

                            cn.msgSuccess(obj.Message);
                            parent.layer.close(index);
                        } else {
                            cn.msgError(obj.Message);
                        }
                        // Hide the message after 5 seconds
                        setTimeout(function () {
                            $(".alert").fadeOut("slow");
                        }, 40000);
                    }
                });
            } else {
                // Log a message if form validation fails
                console.log("Form validation failed");
            }
        });
    });

    $(document).ready(function () {
        // Event listener for the "Proceed" button click
        $('#resetPassword').click(function () {
            // Retrieve the token value from the input field
            var token = $('#token').val();
            var email = $('#emailAddress').val();

            // Send an Ajax request to check if the token is valid
            $.ajax({
                type: "post",
                url: '@Url.Content("~/ResetPasswordToken/CheckToken")',
                data: { PasswordToken: token, EmailAddress: email }, // Pass token as JSON object
                success: function (response) {
                    // Check if the token is valid
                    if (response.Tag == 1) {
                        cn.msgSuccess(response.Message);
                        // Redirect to the form2 page if the token is valid
                        $('#form2').show();
                        $('#form1').hide();
                    } else {
                        // Display an error message if the token is invalid
                        cn.msgError(response.Message);
                    }
                },
                error: function (xhr, status, error) {
                    // Log the error to the console
                    console.error(xhr.responseText);
                    // Display an error message to the user
                    cn.msgError("Incorrect Token.");
                }
            });
        });
    });

    function submitPassword() {
        // Check if the form is valid using jQuery validation
        if ($("#form2").valid()) {
            // Perform form submission logic
            var postData = $("#form2").serialize(); // Serialize form data
            $.ajax({
                url: '@Url.Content("~/User/ForgotPasswordJson")',
                type: "post",
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        cn.msgSuccess(obj.Message);
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    } else {
                        cn.msgError(obj.Message);
                    }
                },
                //error: function (xhr, status, error) {
                //    console.error(xhr.responseText);
                //    alert('An error occurred while processing your request. Please try again later.');
                //}
            });
        }
    }

</script>