@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}


<div class="creditType" id="creditType">
    <form id="form1" class="form-horizontal m">
        <div class="dialogblockborder dialogblockborderheadline">
            <div class="dialogblock-header" style="height: auto;">
                <span class="dialogblockheader">Scheme Setup</span>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="Name control-label" style="margin-left: 100px;">Scheme Name <font class="red"> *</font></label>
                        <input type="text" col="SchemeName" style="margin-left: 100px; width: 500px;" class="form-control" id="Name" required>
                    </div>

                </div>              

            </div>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    var id = cn.request("id");

    
    function saveForm(index) {
        var postData = $("#form1").getWebControls({ Id: id });

        debugger
        if ($("#form1").validate().form()) {
            
            cn.ajax({
                url: '@Url.Content("~/Scheme/SaveFormJson")',
                type: "post",
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        cn.msgSuccess(obj.Message);
                        //parent.searchGrid();
                        parent.layer.close(index);
                        parent.searchGrid();

                    }
                    else {
                        cn.msgError(obj.Message);
                    }
                }
            });
        }
    }




</script>  