@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}


<div class="creditType" id="creditType">
    <form id="form1" class="form-horizontal m">
        <div class="dialogblockborder dialogblockborderheadline">
            <div class="dialogblock-header" style="height: auto;">
                <span class="dialogblockheader">Scheme Setup</span>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="Name control-label" style="margin-left: 100px;">Scheme Name <font class="red"> *</font></label>
                        <input type="text" col="SchemeName" style="margin-left: 100px; width: 500px;" class="form-control" id="Name" required>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        <label for="lenderType" style="margin-left: 100px;" class="control-label">Lender Type <font class="red"> *</font></label>
                        <div id="lender" style="margin-left: 100px;" col="LendersId">

                        </div>
                        <span style="margin-left: 100px; font-size: 12px; color: red;">Multiple lenders can be selected</span>
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    var id = cn.request("id");

    $("#lender").cnComboBox({
        url: '@Url.Content("~/PMB/GetListJson")',
        key: "Id",
        value: "Name",
        class: "form-control",
        multiple: true,
        defaultValue: [],
        search: true
    });
    $("#lender").prepend('<option value="" disabled selected>Please Select Lender(s)</option>');

    function saveForm(index) {
        debugger
        if ($("#form1").validate().form()) {
            var selectedIds = $('#lender').cnComboBox('getValue');

            

            // Get the value of the input field
            var inputName = $('#Name').val();
         
            cn.ajax({
                url: '@Url.Content("~/Scheme/SaveFormJson")',
                type: "post",
                data: { selectedIds: selectedIds, inputName: inputName },
                traditional: true,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        cn.msgSuccess(obj.Message);
                        //parent.searchGrid();
                        parent.layer.close(index);
                        parent.searchGrid();

                    }
                    else {
                        cn.msgError(obj.Message);
                    }
                }
            });
        }
    }




</script>  