@{
    Layout = "~/Views/Shared/_Index.cshtml";
}

@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostingEnvironment
@section header{
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/fileinput/5.0.3/css/fileinput.min.css"))
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/fileinput/5.0.3/js/fileinput.min.js"))
}


    <div class="wrapper animated fadeInRight">
        <form id="form" class="form-horizontal m">
            <div class="dialogblockborder dialogblockborderheadline">
                <div class="dialogblock-header" style="height: auto;">
                    <span class="dialogblockheader">New Agent Record</span>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Choose Account Type</label>
                        <div class="col-sm-8">
                            <div id="accType" col="Id"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" style="margin-right: -22px;">Email<font class="red"> *</font></label>
                        <div class="col-sm-4">
                            <input id="email" col="Email" type="text" class="form-control" />
                        </div>
                        <label class="col-sm-2 control-label" style="margin-right: -22px;">Telephone<font class="red"> *</font></label>
                        <div class="col-sm-4">
                            <input id="telephone" col="Telephone" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            
        </form>
    </div>