@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}


<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="dialogblockborder dialogblockborderheadline">
            <div class="dialogblock-header" style="height: auto;">
                <span class="dialogblockheader">Credit Assessment Factor Index Form</span>
                <div class="form-group">

                    <div class="col-sm-6">
                        <label class="productName control-label">Product Name <font class="red"> *</font></label>

                        <div id="ProductName" col="ProductName"></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="ProductCode" class="form-label">Product Code</label>
                        <input type="text" col="ProductCode" class="form-control" id="ProductCode">

                    </div>

                </div>

                <div class="form-group">

                    <div class="col-sm-6">
                        <label class="RiskFactorId control-label">Risk Factor <font class="red"> *</font></label>

                        <div id="RiskFactorId" col="RiskFactorId"></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="riskFactorDescription" class="control-label">Factor Index Description  <font class="red"> *</font></label>
                        <input type="text" col="FactorIndexDescription" class="form-control" id="riskFactorDescription" required>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="weight" class="control-label">Weight<font class="red"> *</font></label>
                        <input type="number" col="Weight" class="form-control" id="weight" required>

                    </div>

                </div>

            </div>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    //debugger
    var id = cn.request("id");

    $("#ProductName").cnComboBox({
        url: '@Url.Content("~/CreditType/GetListJson")',
        key: "Code",
        value: "Name"
    });

    $("#ProductName").change(function () {
        debugger
        var selectedCredit = $("#ProductName").cnComboBox('getValue');
        $("#ProductCode").val(selectedCredit);

        //var id = selectedCredit;
        if (selectedCredit != 0) {
            $("#RiskFactorId").cnComboBox({
                url: '@Url.Content("~/CreditAssessmentRiskFactor/GetRisks")' + '?productcode=' + selectedCredit,
                key: "RiskFactorId",
                value: "RiskFactorsDescription"
            });
        }
    });

    $('#weight').on('blur', function (event) {
        $('span.error-keyup-1').hide();
        var regex = /^[1-9][0-9]*$/; // Regular expression to match positive integers excluding zero
        var Nex = $("#weight").val();
        if (!regex.test(Nex) || Nex === '0') { // Check if it's not a positive integer or it's zero
            event.preventDefault();
            $('#weight').val('');
            $(this).after('<span class="text-danger error-keyup-1">The Weight should be a non-zero positive intege</span>');
            return false;
        }
    });




    function saveForm(index) {
        debugger
        if ($("#form").validate().form()) {
            var postData = $("#form").getWebControls({ Id: id });
            var Product = $("#ProductName").cnComboBox('getValue');
            var Risk = $("#RiskFactorId").cnComboBox('getValue');


            if (Product <= 0) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Warning',
                    text: 'Please select a product!'
                });
                return false;
            }
            if (Risk <= 0) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Warning',
                    text: 'Please select Risk Factor!'
                });
                return false;
            }

            cn.ajax({
                url: '@Url.Content("~/CreditAssessmentFactorIndex/SaveFormJson")',
                type: "post",
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        // Show success message with SweetAlert
                        Swal.fire({
                            icon: 'success',
                            title: 'Success!',
                            text: obj.Message,

                            timerProgressBar: true,
                            onClose: () => {
                                parent.layer.close(index);
                                parent.searchGrid();

                            }
                        });
                    } else {
                        // Show error message with SweetAlert
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: obj.Message,

                            timerProgressBar: true,

                        });
                        return false;
                    }
                }
            });
        }
    }
</script>