@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}


<div class="creditType" id="creditType">
    <form id="form1" class="form-horizontal m">
        <div class="dialogblockborder dialogblockborderheadline">
            <div class="dialogblock-header" style="height: auto;">
                <span class="dialogblockheader">Credit Type Setup</span>
                <div class="form-group">
                    <div class="col-sm-10">
                        <label class="Name control-label" style="margin-left: 100px;">Name <font class="red"> *</font></label>
                        <input type="text" col="Name" style="margin-left: 100px; width: 500px;" class="form-control" id="Name" required>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <label for="description" style="margin-left: 100px;" class="control-label">Description <font class="red"> *</font></label>
                        <input type="text" style="margin-left: 100px; width: 500px;" col="Description" required class="form-control">

                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <label for="code" style="margin-left: 100px;" class="control-label">Code <font class="red"> *</font></label>
                        <input type="text" style="margin-left: 100px; width: 500px;" col="Code" class="form-control" id="code" required>

                    </div>

                </div>

            </div>
        </div>
    </form>
</div>

<script>
    var id = cn.request("id");

    function saveForm(index) {
        if ($("#form1").validate().form()) {
            var postData = $("#form1").getWebControls({ Id: id });
            cn.ajax({
                url: '@Url.Content("~/CreditType/SaveFormJson")',
                type: "post",
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        cn.msgSuccess(obj.Message);
                        //parent.searchGrid();
                        parent.layer.close(index);
                        parent.searchGrid();

                    }
                    else {
                        cn.msgError(obj.Message);
                    }
                }
            });
        }
    }

</script>