@{
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="container-div">
    <div class="row">
        <div id="searchDiv" class="col-sm-12 search-collapse">
            <div class="form-row align-items-end mb-3">
                <div class="form-group col-md-4">
                    <label for="startTime">Start Date:</label>
                    <input id="startTime" col="StartDate" type="text" class="form-control" placeholder="Start Date" />
                </div>
                <div class="form-group col-md-4">
                    <label for="endTime">End Date:</label>
                    <input id="endTime" col="EndDate" type="text" class="form-control" placeholder="End Date" />
                </div>
                <div class="form-group col-md-4">
                    <button id="btnViewStatement" class="btn btn-success w-100" style="margin-top:20px;" onclick="searchRefinancingGrid()">Generate Loan</button>
                </div>
            </div>
            <div class="form-row align-items-end mb-3">
                <div class="form-group col-md-6">
                    <div class="row">
                        <div class="form-group col-md-5">
                            <label for="SecondaryLender">Secondary Lender:</label>
                            <div id="SecondaryLender" col="SecondaryLender"></div>
                        </div>
                        <div class="form-group col-md-5">
                            <button class="btn btn-success w-100" type="submit" id="confirmButton" style="margin-top: 20px;">
                                <i class="fa fa-save"></i> Submit Refinancing
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 select-table table-striped mt-4">
            <table id="gridTable" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>


<script type="text/javascript">
$(function () {
    initGrid();
    
    laydate.render({ elem: '#startTime', format: 'yyyy-MM-dd', type: 'date', theme: 'molv' });
    laydate.render({ elem: '#endTime', format: 'yyyy-MM-dd', type: 'date', theme: 'molv' });
    
    $("#SecondaryLender").cnComboBox({
        url: '@Url.Content("~/SecondaryLender/GetListJson")',
        key: "Id",
        value: "Name"
    });

    $('#confirmButton').on('click', handleRefinancingSubmit);
});

function initGrid() {
    var queryUrl = '@Url.Content("~/LoanDisbursement/GetLoanDisbursementPageListJson")';
    $('#gridTable').cnTable({
        url: queryUrl,
        columns: [
            { checkbox: true, visible: true },
            { field: 'Id', title: 'Id', visible: false },
            { field: 'LoanProduct', title: 'Lender Product' },
            { field: 'Tenor', title: 'Loan Tenor' },
            { field: 'Amount', title: 'Loan Amount' },
            { field: 'Rate', title: 'Rate' },
            { field: 'CustomerNhf', title: 'NHF Number' },
            { field: 'CustomerName', title: 'Customer Name' },
            { field: 'RepaymentStatus', title: 'Repayment Status' },
            { field: 'LoanId', title: 'Loan Id' },
        ],
        queryParams: function (params) {
            var pagination = $('#gridTable').cnTable('getPagination', params);
            var queryString = $("#searchDiv").getWebControls(pagination);
            return queryString;
        },
        onExpandRow: function (index, row, $detail) {
            initChildGrid(index, row, $detail);
        }
    });
}

function searchRefinancingGrid() {
    $('#gridTable').cnTable('search');
    resetToolbarStatus();
}

function handleRefinancingSubmit() {
    var selectedLoans = $('#gridTable').bootstrapTable('getSelections');
    if (selectedLoans.length === 0) {
        swal("You have not selected any loan(s)");
        return;
    }

    swal({
        title: "Are you sure?",
        text: "Loan(s) will be refinanced!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#ff9800",
        confirmButtonText: "Yes, continue",
        cancelButtonText: "No, stop!",
        showLoaderOnConfirm: true,
        preConfirm: function () {
            return new Promise(function (resolve) {
                setTimeout(resolve, 2000);
            });
        }
    }).then(function (isConfirm) {
        if (isConfirm.value) {
            executeLoanRefinancing(selectedLoans);
        } else {
            swal("You cancelled Loan Refinancing", "", "info");
        }
    });
}

function executeLoanRefinancing(selectedLoans) {
    var secondaryLender = $("#SecondaryLender").cnComboBox('getValue');
    $.ajax({
        url: '/Refinancing/RefinanceLoan',
        type: 'POST',
        data: {
            lists: JSON.stringify(selectedLoans),
            SecondaryLender: secondaryLender
        },
        dataType: 'json',
        success: function (result) {
            if (result.Tag === 1) {
                swal("Loan Refinance", result.Message, "success").then(() => {
                    window.location.reload();
                });
            } else {
                swal("Loan Refinance", result.Message, "error");
            }
        },
        error: function () {
            swal("Loan Refinance", "Loan Refinance encountered an error", "error");
        }
    });
}


function initChildGrid(index, row, $detail) {
    var formattedDateOfEmployment = new Date(row.DateOfEmployment).toLocaleDateString();

    var htmlData = `
        <div class="card">
            <div class="card-header text-center">
                <h6 class="card-title" style="font-weight: bold; color: black; font-size: 15px;">
                    Underwriting Process for ${row.Name}
                </h6>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label for="nhfNumber">NHF Number:</label>
                            <input type="text" id="nhfNumber" class="form-control" readonly value="${row.NHFNumber}" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="monthlyIncome">Monthly Income:</label>
                            <input type="text" id="monthlyIncome" class="form-control" readonly value="${row.MonthlyIncome}" />
                        </div>
                    </div>
                          <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label for="dateOfBirth">Date Of Birth:</label>
                                    <input type="text" id="dateOfBirth" class="form-control" readonly value="${row.DOB}" />
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="bvn">BVN:</label>
                                <input type="text" id="bvn" class="form-control" readonly value="${row.Bvn}" />
                            </div>
                        </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label for="dateOfEmployment">Date Of Employment:</label>
                            <input type="text" id="dateOfEmployment" class="form-control" readonly value="${formattedDateOfEmployment}" />
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="remark">Remark:</label>
                        <textarea id="remark" class="form-control" style="height: 60px">${row.Remark}</textarea>
                    </div>
                </form>
            </div>
        </div>
    `;
    $detail.html(htmlData);
}
</script>