@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="ibox-title">
    <h5>PROPERTY GALLERY</h5>
</div>
<div class="container-div">
    <div class="row">
        <div id="searchDiv" class="col-sm-12 search-collapse">
            <div class="select-list">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="propertyType">Property Type:</label>
                                <div id="propertyType" col="PropertyType"></div>
                            </div>
                        </div>
                        <div class="col-sm-4" style=" border: 1px solid #000;">
                            <div class="form-group" >
                                <div class="text-center">
                                <label for="price-range-slider" >Price Range:&#8358;</label>
                                </div>
                                <div id="price-range">
                                    <label for="price-range-slider">Min</label>
                                    <input type="range" id="price-range-slider" min="1000000" max="500000000" step="1000000" value="1000000">
                                    <label for="price-range-slider">Max</label>
                                    <span id="price-value">1,000,000</span>
                                </div>
                            </div>
                            <div class="text-center">
                                <button id="apply-button" class="btn btn-success">Apply</button>
                                </div>
                           
                        </div>
                        <div class="col-sm-4">
                            <button id="advanceFilterSearch" class="btn btn-gray">Advance Filter Search <i class="fa-solid fa-filter"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="searchByLocation">Search By Location</label>
                                <div class="input-group">
                                    <input id="searchByLocation" col="SearchByLocation" class="form-control" />
                                    <div class="input-group-append">
                                        <a id="btnSearch" class="btn btn-primary" onclick="searchGrid()">Search</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                       
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="sort">Sort</label>
                                <div id="sort" col="Sort"></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

     </div>
        <div id="cardContainer"></div>
   
</div>

@*<script type="text/javascript">
    $(function () {
        initGrid();

        $("#propertyType").cnComboBox({ data: cn.getJson(@Html.Raw(typeof(PropertyTypeEnum).EnumToDictionaryString())) });


    });

    function initGrid() {
        var queryUrl = '@Url.Content("~/PropertyType/GetPropertyGalleryPageListJsonn")';
        $('#cardContainer').cnCardList({
            url: queryUrl,
            cardTemplate: function (data) {
                // Generate the HTML for each card using the provided data
                var cardHtml = `
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">${data.any}</h5>
              </div>
            </div>
          `;
                return cardHtml;
            }
        });
    }






</script>*@
<script type="text/javascript">
    $(document).ready(function () {
        // Get the elements
        var rangeSlider = $("#price-range-slider");
        var priceValue = $("#price-value");
        var applyButton = $("#apply-button");

        // Update the price value when the slider value changes
        rangeSlider.on("input", function () {
            var value = $(this).val();
            priceValue.text(formatPrice(value));
        });

        // Apply button click event
        applyButton.on("click", function () {
            var selectedPrice = rangeSlider.val();
            alert("Selected price: " + formatPrice(selectedPrice));
            // Perform any additional actions here
        });

        // Function to format the price with commas
        function formatPrice(price) {
            return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
    });


    $(function () {
        initGrid();

        var propertyTypeData = JSON.parse('@Html.Raw(Json.Serialize(typeof(PropertyTypeEnum).EnumToDictionaryString()))');
        $("#propertyType").cnComboBox({ data: propertyTypeData });
    });

    function initGrid() {
        var queryUrl = '@Url.Content("~/PropertyGallery/GetPropertyGalleryPageListJsonn")';
        $('#cardContainer').cnCardList({
            url: queryUrl,
            cardTemplate: function (data) {
                // Generate the HTML for each card using the provided data
                var cardHtml = `
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">${data.Title}</h5>

            `;
                return cardHtml;
            }
        });
    }

</script>

