@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}

-
<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="dialogblockborder dialogblockborderheadline">
            <div class="dialogblock-header" style="height: auto;">
                <span class="dialogblockheader">FeedBack Form</span>
                <div class="form-group" >
                    <div class="col-sm-6">
                        <label class="control-label">Name</label>
                        <input id="name" col="Name" type="text" class="form-control" />
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">Email Address</label>
                        <input id="email" col="Email" type="text" class="form-control" />
                    </div>
                    </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="control-label">Subject</label>
                        <input id="subject" col="Subject" type="text" class="form-control" />
                    </div>

                    </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="control-label">Messages</label>
                        <textarea id="messages" class="form-control" style="height:70px"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>