

@{
    Layout = "~/Views/Shared/_Index.cshtml";
}



<link rel="stylesheet" href="~/central/css/employeeReg.css"/>
<link rel="stylesheet" href="~/central/css/employeeReg1.css"/>
 
    <div class="container">
        <div class="developer">
      <p id="Alex">  EMPLOYEE REGISTRATION </p>
   </div>
   </div>
   

<!-- JQUERY STEP -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>
<div class="wrapper">
    <form action="">
        <div id="wizard">
            <!-- SECTION 1 -->
            <h4></h4>
            <section>
                <div class="form-row">
                    <label>Title</label>
                 <input id="title" type="text" class="form-control" style="border-radius:4px; width:200px">
                    </div>
                <div class="form-row">
                        <label>Employee First Name</label>
                    <input id="employeefirstname" type="text" class="form-control" placeholder="Employee First Name" style="border-radius:4px;width:50%;">
                </div>
               

                    <div class="form-row">
                    <label>Employee Last Name</label>
                    <input id="employeelastname" type="text" class="form-control" placeholder="Employee Last Name" style="border-radius:4px;width:50%;">
                </div>
                    <div class="form-row">
                        <label>Employee Other Name</label>
                    <input id="employeeothername" type="text" class="form-control" placeholder="Employee Other Name" style="border-radius:4px;width:50%;">
                </div>
              

            <div class="form-row">
             <label>Mobile Number</label>
                    <input id="mobilenumber" type="tel" class="form-control" placeholder="Mobile Number" style="border-radius:4px;width:50%;">
                </div>

            <div class="form-row">  
             <label>Date of Birth</label>
             <input id="dateofbirth" type="date" class="form-control" placeholder="Date of Birth" style="width:150px;"> </div>
                

                 <div class="form-row">
                        <label>BVN</label>
                        <input id="bvn" type=" tel" class="form-control" placeholder="BVN" style="border-radius:4px;width:300px;"> </div>
                    <div class="form-row">
                        <label>NIN</label>
                        <input id="nin" type="text" class="form-control" placeholder="NIN" style="border-radius:4px;width:300px;"> </div>
               

                 <div class="form-row">
                        <label>Address 1</label>
                    <input id="address1" type="text" class="form-control" placeholder="Address 1" style="border-radius:4px;width:50%;">
                </div>
                <div class="form-row">
                        <label>Address 2</label>
                    <input id="address2" type="text" class="form-control" placeholder="Address 2" style="border-radius:4px;width:50%;">
                </div>
               
            </section> <!-- SECTION 2 -->
            <h4></h4>
            <section>
                <div class="form-row">
                        <label>Marital Status</label>
                        <select id="maritalstatus" class="form-control" style="width:250px;">
                            <option></option>
                        </select>
                    </div>
                <div class="form-row">
                    <label>Gender</label>
                        <select id="gender" class="form-control" style="width:250px;">
                            <option></option>
                        </select>
                    </div>
               

                <div class="form-row">
                        <label>Next of Kin Full Name</label>
                    <input id="nokfullname" type="text" class="form-control" placeholder="Next of Kin Full Name" style="border-radius:4px;width:50%;">
                </div>

                <div class="form-row">
                        <label>Next of Kin Number</label>
                        <input id="noknumber" type="tel" class="form-control" placeholder="Next of Kin Number" style="border-radius:4px;width:250px;"> </div>


                <div class="form-row">
                        <label>Employment Type</label>
                        <select id="employmenttype" class="form-control" style="width:250px;">
                            <option></option>
                        </select>
                    </div>
                <div class="form-row">
                        <label>Staff Number</label>
                        <input id="staffnumber" type="text" class="form-control" placeholder="Staff Number" style="border-radius:4px;width:250px;">
                    </div>
               

            </section> <!-- SECTION 3 -->
            <h4></h4>
            <section>
                <div class="form-row">
                        <label>Account Type</label>
                        <select id="accounttype" class="form-control" style="width:250px;">
                            <option></option>
                        </select>
                    </div>
                <div class="form-row">
                        <label>Customer Bank Name</label>
                    <input id="customerbankname" type="text" class="form-control" placeholder="Customer Bank Name" style="border-radius:4px;width:50%;">
                </div>


                <div class="form-row">
                        <label>Bank Account Number</label>
                    <input id="bankaccountnumber" type="text" class="form-control" placeholder="Bank Account Number" style="border-radius:4px;width:50%;">
                    </div>

                <div class="form-row">
                        <label>Monthy Salary</label>
                    <input id="monthlysalary" type="number" class="form-control" placeholder="monthly salary" style="border-radius:4px;width:50%;">
                    </div>


                <div class="form-row">
                        <label>Contribution Branch</label>
                        <select id="contributionbranch" class="form-control" style="width:250px;">
                            <option></option>
                        </select>
                    </div>
                <div class="form-row">
                        <label>Statement</label>
                        <input id="statement" type="text" class="form-control" placeholder="statement" style="border-radius:4px;">
                    </div>
               
           
            </section> <!-- SECTION 4 -->
            <h4></h4>
            <section>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                    <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                    <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
                </svg>
                <p class="success">Registered successfully. Your registration will be proccessed soon</p>
            </section>
        </div>
    </form>
</div>

<script src="~/Jquery/Developer.js">
    </script>





    
   

        



   